<div id="order-edit">
  <div class="page-header">
    <ul class="nav-path">
      <li>订单管理</li>
      <li>新订单</li>
    </ul>
    <a href="#/orders/current" class="btn btn-yellow ml-20">取消</a>
  </div>
  <div class="mg-20"></div>
  <div class="card" id="chosen">
    <ul class="chosen-list">
      <li ng-repeat="item in vm.chosenItems track by $index">
        <img ng-src="{{item.picture_url}}" ng-click="vm.unchooseItem($index)">
      </li>
    </ul>
    <div class="chosen-option">
      <span id="chosen-total">总计</span>
      <span id="chosen-price">{{vm.totalPrice | rmb}}</span>
      <button ng-click="vm.submitOrder()" class="btn btn-green">立即下单</button>
    </div>
  </div>
  <div class="mg-20"></div>
  <div class="item-list">
    <div class="card" ng-repeat="item in vm.allItems" ng-click="vm.chooseItem(item)">
      <div class="img-container">
        <img ng-src="{{item.picture_url}}">
      </div>
      <div>
        <span class="item-name">{{item.name}}</span>
        <span class="item-price">{{item.price | rmb}}</span>
      </div>
    </div>
  </div>
</div>
