<div id="order-edit">
  <div class="page-header">
    <ul class="nav-path">
      <li>订单管理</li>
      <li>新订单</li>
    </ul>
    <button class="btn btn-yellow ml-20">取消</button>
  </div>
  <div class="mg-20"></div>
  <div class="card">
    <ul class="chosen-list">
      <li><img src="./images/food.jpg"> </li>
      <li><img src="./images/food.jpg"> </li>
    </ul>
    <div class="chosen-option">
      <span>总计</span>
      <span>¥5.00</span>
      <button chart="btn btn-green">立即下单</button>
    </div>
  </div>
  <div class="mg-20"></div>
  <div class="item-list">
    <div class="card">
      <div class="img-container">
        <img src="./images/food.jpg">
      </div>
      <div>
        <span class="item-name">番茄炒蛋</span>
        <span class="item-price">¥6.00</span>
      </div>
    </div>
    <div class="card">
      <div class="img-container">
        <img src="./images/food.jpg">
      </div>
      <div>
        <span class="item-name">番茄炒蛋</span>
        <span class="item-price">¥6.00</span>
      </div>
    </div>
    <div class="card">
      <div class="img-container">
        <img src="./images/food.jpg">
      </div>
      <div>
        <span class="item-name">番茄炒蛋</span>
        <span class="item-price">¥6.00</span>
      </div>
    </div>
    <div class="card">
      <div class="img-container">
        <img src="./images/food.jpg">
      </div>
      <div>
        <span class="item-name">番茄炒蛋</span>
        <span class="item-price">¥6.00</span>
      </div>
    </div>
    <div class="card">
      <div class="img-container">
        <img src="./images/food.jpg">
      </div>
      <div>
        <span class="item-name">番茄炒蛋</span>
        <span class="item-price">¥6.00</span>
      </div>
    </div>
  </div>
</div>
